body {
  color: rgb(206, 202, 195);
  background-color: rgb(24, 26, 27);
  font: "MetalMania";
}

h1 {
  position: center
}

@font-face {
    font-family: "MetalMania";
    src: url("MetalMania-Regular.ttf");
}
