body {
    margin: auto;
    max-width: 720px;
    color: rgb(206, 202, 195);
    background-color: rgb(24, 26, 27);
    font-family: "MetalMania";
}

h1 {
    font-size: 50px;
    text-align: center;
}

ul {
    font-size: 50px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

li:last-child {
    border-right: none;
}

li a {
    display: inline-block;
    padding: 0px 20px 0px 20px;
    background-color: darkgrey;
    border-radius: 40px;
    width: 100px;
    color: black;
    
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
    background-color: lightgrey;
}

@font-face {
    font-family: "MetalMania";
    src: url("MetalMania-Regular.ttf") format("truetype");
}
